html {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
  }
  
* {
    margin: 0;
    padding: 0;
  }


.content {
    width: 1032px;
    margin: auto;
  }
  
.content-article {
    width: 768px;
  }
  
.welcome {
    max-width: 592px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 64px;
  }
  
.welcome__title {
    font-size: 24px;
  }
  
.welcome__text {
    font-size: 16px;
  }
  
.article {
    display: flex;
    gap: 50px;
  }
  
.article__data {
    font-size: 20px;
  }
  
.article__text-tags {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.article__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
.article__title {
    font-weight: 500;
    font-size: 20px;
  }
  
.article__tags {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
.article__item {
    display: inline;
  }
  
.wrap-article {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 768px;
  }
  
  
.more-posts__text {
    font-size: 20px;
  }
  
  /*Переделать картинку*/
.more-posts__img {
    width: 33px;
  }
  /*-----*/
  
.more-posts {
    display: flex;
    gap: 16px;
  }
  
.wrap-more-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
.wrap-main {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  
main {
    display: flex;
    gap: 24px;
  }
  
  /*Page 2*/
.info__tags {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
.info__tags-item {
    display: inline;
  }
  
.info {
    display: flex;
    gap: 20px;
  }
  
.wrap-headline {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 30px;
    margin-top: 64px;
  }
  
.headline {
    font-size: 36px;
  }
  
.paragraph {
    margin-bottom: 14px;
  }
  
.paragraph:last-child {
    margin-bottom: 0px;
  }
  
.subtitle {
    margin: 30px 0px;
    font-size: 24px;
    font-weight: 500;
  }
  
.picture {
    margin: 30px 0px;
  }
  
.picture:first-child {
    margin-top: 0px;
  }
  
picture:last-child {
    margin-bottom: 0px;
  }
  
.picture__text {
    font-size: 14px;
    font-style: italic;
    margin-top: 16px;
  }
  
.picture__img {
    max-width: 100%;
  }
  
.more-posts-flex {
    display: flex;
    justify-content: space-between;
  }
  
  
  
aside {
    flex-grow: 1;
    margin-top: 64px;
  }
  
.aside__min {
    background-color: #CCC9C9;
    height: 84px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
.aside__min-text {
    font-size: 24px;
  }



  /*Теги*/
.headline-tags {
    width: 100%;
    margin-top: 64px;
}

.headline-tags__text {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .wrap-tags {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .tags-list {
    font-size: 20px;
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 0px;
    margin-top: 30px;
  }

  .tags-item {
    display:flex;
    gap: 16px;
    align-items: baseline;
  }

  .tags-posts {
    font-size: 16px;
  }